html[data-theme='light']{
    --bg: #f3f2ef;
    --container-bg: #ffffff;
    --color-text: #343434;
    --color-shadow: -4px -2px 4px 0px #fff, 
                     4px 2px 6px 0px #dfe4ea;
    --color-border: #e9e9e9;
}

html[data-theme='dark']{
    --bg: #131419;
    --container-bg: #2d2f38;
    --color-text: #fff;
    --color-shadow: -3px -3px 10px rgba(255, 255, 255, 0.05), 
                     3px 3px 15px rgba(0, 0, 0, 0.5);
    --color-border: #2f2f2f;
}

body{
    font-family: 'Outfit', sans-serif;
    background: var(--bg);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.text-title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

.text-small{
    font-size: 12px;
}

.div-title{
    margin-bottom: 15px;
}

#educationTextContainer, #experienceTextContainer{
    margin-left: 20px;
}

#pageConfig{
    justify-content: space-between;
}

#mainContent{
    justify-content: center;
    align-items: center;
    align-self: center;
}

#personalInfoContainer{
    justify-content: space-evenly;
}

#experienceDescriptionContainer{
    margin-top: 15px;
}

.info-box{
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--container-bg);
    margin-top: 20px;
    width: 775px;
}

#textContainer{
    padding-top: 20px;
}

#expEduInfoContainer{
    margin: 0px 0px 0px 50px;
}

#imgContainer img{
    width: 50px;
    height: 50px;
}

.profileInfo img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.profileInfo span{
    font-weight: bold;
}

#skillName{
    align-self: center;
}

ul {
    list-style: none;
    padding-left: 0;
    column-count: 3;
}

li::before {
    content: url('./img/util/selo.svg');
    display: inline-block;
    vertical-align: middle;
}

#profilePicture img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 3px solid #fff;
    transform: rotate(-35deg);
    margin-left: 10px;
    margin-top: -90px;
}

#qrCodeContainer{
    position: absolute;
    align-self: flex-end;
    margin-top: 20px;
    padding-right: 50px;
    display: none;
}

#bannerContainer{
    background-image: url('./img/util/wallpaper-programming.png');
    background-color: var(--container-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10em;
    margin: -20px;
    border-radius: 10px 10px 0px 0px;
}

#btnImprimir{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #3B67C1;
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 15px -7px #000000;
    transition: 0.5s;
    width: 50px;
    height: 50px;
}

#btnImprimir:hover{
    transform: scale(1.15);
}

@media screen and (max-width: 835px) {
    .info-box{
        max-width: 85vw;
    }

    #textContainer{
        flex-direction: column;
    }

    #expEduInfoContainer{
        margin: 15px 0 0 0;
    }
}

@media print {
    #pageConfig{
        display: none;
    }

    #btnImprimir{
        display: none;
    }

    .info-box{
        border: none;
        margin-top: 0;
    }

    #mainContent{
        padding: 0px 30px 0px 30px;
    }

    #mainInfo{
        margin-top: 0;
        flex-direction: column;
    }

    #qrCodeContainer{
        display: block;
    }

    @page{
        size: auto;
        margin: 0;
    }
}